
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF7EA8;
}

.titulo{
    height: fit-content;
    padding: 1%;
    width: 95%;
    margin-top: 4%;
    border-radius: 100px;
    background: #FFFF;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.titulo  span{
    font-weight: bold;
    font-size: 35px;
    color: #FF7EA8;
    
}
.rosa{
    color: #FF7EA8;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido{
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    padding: 10px 30px;
}

.contenidoImg{
    width: 95%;
    background: #FFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 30px;
    word-break: break-all;
    padding: 10px 30px;
}

.contenido label{
    color: #FF7EA8;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: bold;
}

.btn{
    background-color: #FF7EA8;
    border-radius: 50px;
    /*border-color: #4A4063;
    border-style: solid;
    border-width: 3px;*/
    padding: 10px 40px;
    margin: 10px;
    color:#FFFF;
    font-weight: bold;
    font-size: 20px;
}