body {
    display: flex;
    height: 90vh;
    background-color: #AAFCB8;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #8CD790;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

input[type="text"], textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center;
    resize: none;
}

textarea{
    height: 50%;
}

label{
    align-self: center;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

.botonCrear {
    align-self: self-end;
    width: fit-content;

}

.divContenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divContenForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subtitulos{
    font-family: 'Roboto', sans-serif;
}

.containerCentre {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.containerDreta {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 10vh; 
}




